@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .glass {
        @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl;
    }

    .glass-dark {
        @apply bg-slate-900/70 backdrop-blur-md border border-white/10 shadow-xl;
    }
}

body {
    @apply bg-slate-50 text-slate-800 antialiased;
}